body{
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    width: 90%;
    height: 200px;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.label{
    width: 100%;
    height: 40px;
    margin: 5px 0px 5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    background-color: blue;
    border-radius: 10px;
}



.label input{
    margin-left: 5px;
    margin-right: auto;
}

.label :nth-child(1){
    margin-left: 50px;
}

.label :nth-child(2){
    position: absolute;
    font-size: 25px;
    left: 10%;
    color: white;
}


.txt{
    margin-left:auto;
    margin-right: auto;
    font-size: 25px;
    color: white;
}

.correctanswerbox{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.correctanswerbox{
    width: 50px;
    height: 30px;
    border: none ;
    border-radius: 10px;
    background-color: blue;
    color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
}

.correctanswerbox p{
    font-size: 25px !important;
    text-transform: uppercase !important;
}

.result{
    font-family: Verdana;
    text-transform: uppercase !important;
    margin-left: 10px;
    font-weight: 800;
    margin-left: auto;
    margin-right: auto;
}


.next{
    width: 100px;
    height: 30px;
    border: none ;
    border-radius: 10px;
    background-color: blue;
    color: whitesmoke;
    margin-top: 20px;
}

.Previus{
    width: 100px;
    height: 30px;
    border: none ;
    border-radius: 10px;
    background-color: blue;
    color: whitesmoke;
    margin-top: 20px;
    opacity: 0;
}


.quizbox{
    width: 80%;
    height: 400px;
    border: 4px solid black;
    border-radius: 20px;
    display: block;
    align-items:center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.finish{
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 100px;
    height: 30px;
    border: none ;
    border-radius: 20px;
    background-color: blue;
    color: whitesmoke;
    margin-top: 20px;
    opacity: 0;
}